
extends layout

block content
	#simplex
	#container.col
block scripts
	script(src='/js/jquery.min.js')
	script(src='/vendor/jquery.form.min.js')
	script(src='/js/skel.min.js')
	script(src='/js/util.js')
	script(src='/vendor/bootstrap.min.js')
	script(src='/js/views/home.js')
	script(src='/js/gulp/simplex.js')
	script(src='https://unpkg.com/leaflet@1.0.1/dist/leaflet.js')